*.__pycache__
__pycache__
pycache/
**/pycache/
*.py[cod]
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl
*.log
*.sqlite3
*.db
*.DS_Store
*.env
*.venv
*.pytest_cache
*.coverage
*.cover
*.hypothesis/
*.tox
*.mypy_cache
*.pytest_cache
*.coverage
*.cover